[Data in Kaggle](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results?select=athlete_events.csv)

# Import the libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# mount the data from Drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Checking the Data carefully
Loading the data, seeing its information, and having a statistical view of it.

In [8]:
df = pd.read_csv("/content/drive/MyDrive/athlete_events.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [10]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

#Data cleaning
Turn all the strings characters in Dataframe to lowercase to avoid any duplicate data.

In [12]:
df = df.applymap(lambda x:x.lower() if type(x) == str else x)

Fix the Sex data in Dataframe, cause of there some players have multiple genders

In [14]:
names_with_def_sex=df.groupby('Name')['Sex'].apply(lambda x: np.NaN if x.unique().size == 1 else x.mode().max())
names_with_def_sex = names_with_def_sex.dropna()
names = names_with_def_sex.keys()
for name in names:
  df.loc[df["Name"]==name,"Sex"] = names_with_def_sex[name]

Filter all the numerical outlier data in the data frame using the IQR equation without dropping any NaN, cause I'm trying to estimate these Nan as well as possible.

In [15]:
df1 = df.groupby("Sport",as_index=True)

Find the IQR for every Sport ,cause of every sport has its ages and heights and weights...

so i saw filtering outliers on all the sports together is a dumb idea.

In [16]:
sports = df["Sport"].unique()
filterd_df = pd.DataFrame(df.columns)
nan_df = pd.DataFrame(df.columns)
num_data = df1[["Sport","Age","Height",	"Weight"]]
Q1 = num_data.quantile(0.25)
Q3 = num_data.quantile(0.75)
IQR = Q3 - Q1
lower_pd = Q1 - 1.5 * IQR
upper_pd = Q3 + 1.5 * IQR

for sport in sports:
  df_grouped = df1.get_group(sport)
  mask = (df_grouped['Age'].between(lower_pd.loc[sport]["Age"], upper_pd.loc[sport]["Age"], inclusive="both") | df_grouped['Age'].isna())\
       & (df_grouped['Height'].between(lower_pd.loc[sport]["Height"], upper_pd.loc[sport]["Height"], inclusive="both") | df_grouped['Height'].isna())\
       & (df_grouped['Weight'].between(lower_pd.loc[sport]["Weight"], upper_pd.loc[sport]["Weight"], inclusive="both") | df_grouped['Weight'].isna())
      
  mask = mask[mask==False]
  filterd_sport_df = df[df["Sport"]==sport].drop(mask.index,inplace=False)
  

  if ~ pd.isna(filterd_sport_df['Height'].mean()):
    filterd_sport_df['Height'].fillna(value=np.round(filterd_sport_df['Height'].mean(),0),inplace=True)

  if ~ pd.isna(filterd_sport_df['Weight'].mean()):
    filterd_sport_df['Weight'].fillna(value=np.round(filterd_sport_df['Weight'].mean(),0),inplace=True)

  
  filterd_df = pd.concat([filterd_df, filterd_sport_df], axis=0)

df = filterd_df.dropna(thresh=5,axis=0)
df = df.drop(columns=[0])
display(df)

,Age,City,Event,Games,Height,ID,Medal,NOC,Name,Season,Sex,Sport,Team,Weight,Year
0,24.0,barcelona,basketball men's basketball,1992 summer,180.0,1.0,NaN,chn,a dijiang,summer,m,basketball,china,80.0,1992.0
167,19.0,beijing,basketball women's basketball,2008 summer,185.0,69.0,NaN,esp,tamara abalde daz,summer,f,basketball,spain,72.0,2008.0
250,31.0,helsinki,basketball men's basketball,1952 summer,191.0,124.0,NaN,egy,youssef mohamed abbas,summer,m,basketball,egypt,85.0,1952.0
264,29.0,sydney,basketball men's basketball,2000 summer,195.0,136.0,NaN,ita,alessandro abbio,summer,m,basketball,italy,85.0,2000.0
346,25.0,munich,basketball men's basketball,1972 summer,189.0,192.0,NaN,egy,ahmed el-sayed abdel hamid mobarak,summer,m,basketball,egypt,85.0,1972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230913,49.0,chamonix,alpinism mixed alpinism,1924 winter,NaN,115888.0,gold,gbr,"edward lisle ""bill"" strutt",winter,m,alpinism,great britain,NaN,1924.0
255672,47.0,chamonix,alpinism mixed alpinism,1924 winter,NaN,128001.0,gold,gbr,arthur william wakefield,winter,m,alpinism,great britain,NaN,1924.0
50275,26.0,paris,basque pelota men's two-man teams with cesta,1900 summer,NaN,25866.0,gold,esp,jos de amzola y aspiza,summer,m,basque pelota,spain,NaN,1900.0
252988,26.0,paris,basque pelota men's two-man teams with cesta,1900 summer,NaN,126675.0,gold,esp,francisco villota y baquiola,summer,m,basque pelota,spain,NaN,1900.0
214105,26.0,berlin,aeronautics mixed aeronautics,1936 summer,NaN,107506.0,gold,sui,hermann schreiber,summer,m,aeronautics,switzerland,NaN,1936.0

Create a nan_df that contains all rows with NaN value.

In [17]:
nan_df = pd.concat([df[df['Age'].isna()], df[df['Height'].isna()],df[df['Weight'].isna()]], axis=0)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264612 entries, 0 to 214105
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     255155 non-null  float64
 1   City    264612 non-null  object
 2   Event   264612 non-null  object
 3   Games   264612 non-null  object
 4   Height  264514 non-null  float64
 5   ID      264612 non-null  float64
 6   Medal   38741 non-null   object
 7   NOC     264612 non-null  object
 8   Name    264612 non-null  object
 9   Season  264612 non-null  object
 10  Sex     264612 non-null  object
 11  Sport   264612 non-null  object
 12  Team    264612 non-null  object
 13  Weight  264401 non-null  float64
 14  Year    264612 non-null  float64
dtypes: float64(5), object(10)
memory usage: 32.3+ MB

In [19]:
nan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9766 entries, 2485 to 214105
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     254 non-null    float64
 1   City    9766 non-null   object
 2   Event   9766 non-null   object
 3   Games   9766 non-null   object
 4   Height  9545 non-null   float64
 5   ID      9766 non-null   float64
 6   Medal   957 non-null    object
 7   NOC     9766 non-null   object
 8   Name    9766 non-null   object
 9   Season  9766 non-null   object
 10  Sex     9766 non-null   object
 11  Sport   9766 non-null   object
 12  Team    9766 non-null   object
 13  Weight  9427 non-null   float64
 14  Year    9766 non-null   float64
dtypes: float64(5), object(10)
memory usage: 1.2+ MB

Fill NaN values in nan_df with the suitable values.

In [20]:
global player_names

In [21]:
player_names = nan_df.Name

In [22]:
meanbysex=df.groupby(["Sex"], as_index=False).mean()
meanbySport=df.groupby(["Sport"], as_index=True).Age.mean()
global favg_Height,mavg_Height,favg_Weight,mavg_Weight

favg_Height = meanbysex[meanbysex["Sex"]=="f"].Height
mavg_Height = meanbysex[meanbysex["Sex"]=="m"].Height
favg_Weight = meanbysex[meanbysex["Sex"]=="f"].Weight
mavg_Weight = meanbysex[meanbysex["Sex"]=="m"].Weight

In [23]:
names = player_names.unique()
def same_name(name,df):
  name_df = df[df["Name"] == name]
  name_Height = name_df[name_df["Height"].notna()]["Height"].mean()
  name_Weight = name_df[name_df["Weight"].notna()]["Weight"].mean()

  for i in range(name_df.Games.count()):
    if name_df.Games.count() == 1:
      name_df["Age"].fillna(value=np.round(meanbySport[name_df.iloc[0]["Sport"]],0),inplace=True)
    else:
      if  name_df.iloc[i]["Year"]==name_df["Year"].min():
        name_df.loc[name_df.index[i],"Age"] = np.round(meanbySport[name_df.iloc[0]["Sport"]],0)
      else:
        name_df.loc[name_df.index[i],"Age"] = np.round(meanbySport[name_df.iloc[0]["Sport"]],0) + name_df.iloc[i]["Year"] - name_df["Year"].min()

  if name_Height is np.NaN:
    name_df.loc[name_df["Sex"]=="f",'Height'] = np.round(favg_Height[0],0)
    name_df.loc[name_df["Sex"]=="m",'Height'] = np.round(mavg_Height[1],0)
  else: name_df['Height'].fillna(value=name_Height,inplace=True)
  
  if name_Weight is np.NaN:
    name_df.loc[name_df["Sex"]=="f",'Weight'] = np.round(favg_Weight[0],0)
    name_df.loc[name_df["Sex"]=="m",'Weight'] = np.round(mavg_Weight[1],0)
  else: name_df['Weight'].fillna(value=name_Weight,inplace=True)
  
  #display(name_df)
  return name_df

def nan_filler(names,df):
  flag = True
  i = 0
  for name in names:
    if flag:
      new_df = same_name(name,nan_df)
      flag=False
    else:
      new_df = pd.concat([new_df, same_name(name,nan_df)],ignore_index = True)
      print(name)
    i = i+1
    print(i)
  return new_df

new_df = nan_filler(names,nan_df)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Streaming output truncated to the last 5000 lines.
giuseppe crivelli
3847
carlos crosta noceti
3848
ricardo santos da benta
3849
delfim jos da silva
3850
demetrios dais
3851
douard dammann
3852
bonifacio de bortoli
3853
oscar de cock
3854
gerard de gezelle
3855
r. de landtsheere
3856
sylvio augusto de souza e silva
3857
lszl decker
3858
antoine g. f. decours
3859
henri delabarre
3860
lon delignires
3861
maurice delplanck
3862
jules demar
3863
victor denis
3864
lon deslinires
3865
alphonse dewette
3866
robert d'heilly
3867
adrien d'hondt
3868
iakovidis diakoumakos
3869
paulo diebold
3870
stamatios diomataras
3871
konstantinos ditsios
3872
stepan dmitriyevsky
3873
jos ribeiro do seixo
3874
ioannis dolas
3875
guillermo rafael douglas sabattini
3876
thomas ian g. "tom" dowdall
3877
duko orevi
3878
aristidis drakakis
3879
sveto drenovac
3880
andreas drivas
3881
richard duc
3882
wilhelm "willy" dskow
3883
paul chard
3884
toshiji eda
3885
rbert der
3886
theodoros emeraldis
3887
yoshio enomoto
3888
alberto rafael errecalde
3889
vasilios falangas
3890
ioannis fasilis
3891
pierre fauveau
3892
pierre ferlin
3893
amrico garcia fernandes
3894
manuel fernndez
3895
anatoly fetisov
3896
nikolaos filippidis
3897
nikolaos "nikos" filippidis
3898
frdric fleig
3899
robert fleig
3900
ernesto flores filho
3901
angelo fornaciari
3902
nikolaos fotinakis
3903
michel fourny
3904
georgios fouskas
3905
l. frediani
3906
petros freskalakis
3907
charles freuler
3908
shigeo fujiwara
3909
francisco augusto furtado
3910
charles andr gaudin
3911
abdallah gazi
3912
ioannis georgas
3913
jules georges
3914
georgios georgitseas
3915
ezio germignani
3916
marius gervasoni
3917
louis giobergia
3918
john s. "jack" godwin
3919
francesco gotti
3920
ioannis gounaris
3921
augusto graffigna
3922
demetrios grous
3923
ioannis grypaios
3924
maurice gueissaz
3925
robert guelpa
3926
guilbert
3927
ernst haas
3928
stanley joe hanly
3929
masao hara
3930
saburo hara
3931
lajos haraszthy
3932
patrick d. r. "paddy" harold
3933
taha hassouba
3934
jozef hermans
3935
yoshiki hiki
3936
john grey hoben
3937
jnos hollsi
3938
maurice houdayer
3939
andr houppelyne
3940
kenzo ikeda
3941
takashi imamura
3942
kinichiro ishii
3943
lzaro l. iturrieta
3944
igor ivanov
3945
pietro ivanov
3946
harold r. ives
3947
yozo iwasaki
3948
josef jabor
3949
douard jeandet
3950
louis jeandet
3951
william jones
3952
j. jonlet
3953
slobodan jovanovi
3954
ioannis kaisarefs
3955
demetrios kakousis
3956
josef kala
3957
bohdan kallmnzer
3958
athanasios kalyvas
3959
evangelos kanakaris
3960
nikolaos karagiannis
3961
pavlos karangonidis
3962
nikolay karasyov
3963
nikolaos karsouvas
3964
vasilios katekhis
3965
junichi kato
3966
mikhail katsoulis
3967
konstantinos kefalas
3968
hans jakob keller
3969
nikolaos khalas
3970
evangelos khaldeos
3971
argos khalykiopoulos
3972
georgios khasapis
3973
nikolaos "nikos" khatzigiakoumis
3974
dionysios khristeas
3975
zsigmond ern killer
3976
vladimir aleksandrovich kirsanov
3977
sndor kleckner
3978
kroly koch
3979
franz knig
3980
a. kordonis
3981
i. kottas
3982
dimitrios kountouris
3983
khristos koutoulangas
3984
edmund kowalec
3985
pavlos kypraios
3986
ioannis lafiotis
3987
athanasios lafis
3988
charles lalemand
3989
a. lambrecht, jr.
3990
andr lancelot
3991
lardon
3992
l. le cornu
3993
federico lecot
3994
douard leguery
3995
s. lemonis
3996
robert lon
3997
georges lonet
3998
alfred lerbretier
3999
khristos liambeis
4000
durval bellini ferreira lima
4001
enrique lingenfelder
4002
lon lippens
4003
p. lomvardos
4004
spyridon "spyros" lomvardos
4005
arthur f. long
4006
walter loosli
4007
guilherme lorena
4008
ren lotti
4009
ioannis loukas
4010
r. macors
4011
ibrahim mahmoud
4012
maison
4013
ivan makarov
4014
anastasios maniatis
4015
gaston maquat
4016
sant marcuzzi
4017
nikolaos mardelis
4018
alphonse margailland
4019
ilias marinos
4020
georgios maroulis
4021
lucien martinet
4022
ren massiasse
4023
charles massonnat
4024
mathieu
4025
setsuo matsura
4026
maurice matthey
4027
per alfred mattson
4028
antonio mautrere
4029
nikolaos mavrakis
4030
dimitrios mavronas
4031
william john "bill" mcconnell
4032
brendan "barry" mcdonnell
4033
edmund morgan aloysius mcelligott
4034
ioannis melakhroinos
4035
mario melchiori
4036
h. mnard
4037
achille meng
4038
arrigo menicocci
4039
f. mennella
4040
s. messina
4041
petros mexis
4042
armin o. meyer
4043
joseph meyer
4044
h. micha
4045
wacaw kazimierz michalski
4046
isidoros mikhas
4047
ioannis milakas
4048
argos milonas
4049
konstantinos misonginis
4050
jos rodrgues m
4051
oscar moreno
4052
mario moretti
4053
harry mos
4054
jacques mottard
4055
mikhail mouratis
4056
jindich mula
4057
wilhelm "willy" mller
4058
jaroslav mysliveek
4059
shokichi nanba
4060
georgios nikolakis
4061
georgios nikoloutsos
4062
konstantinos niotis
4063
taro nishidono
4064
parmenios nomikos
4065
alphonso nordio
4066
kazuo nose
4067
sreta novii
4068
salvatore nuvoli
4069
p. oddone
4070
evangelos oikonomou
4071
eusebio ojeda monje
4072
jaroslav oplt
4073
emil ordnung
4074
andr pactat
4075
konstantinos pagoulatos
4076
donald robert "don" palmer
4077
paoli
4078
konstantinos papagiannoulis
4079
n. papakostas
4080
ioannis papapanagiotou
4081
georgios papazis
4082
filas paraskevaidis
4083
emilios paravolos
4084
orfeo paroli
4085
demetrios pediadis
4086
osrio antnio pereira
4087
konstantinos perimenis
4088
nikolaos petropoulos
4089
n. petros
4090
mile petrovi
4091
peyronnie
4092
demetrios piaditis
4093
paul piaget
4094
maxime piaggio
4095
jean-paul pieddeloup
4096
f. pieraccini
4097
ioannis pilouris
4098
antonios pitsilos
4099
g. pizzo
4100
mikhail andreyevich plaksin
4101
angelo polledri
4102
reginaldo polloni
4103
yury popov
4104
l. g. potter
4105
louis prvel
4106
alfred probst
4107
federico probst
4108
mikhail ivanovich prudnikov
4109
theofilakos psiliakos
4110
petros pterneas
4111
orestes demstenes homero quintana y vigo
4112
sebastiano randazzo
4113
khristos rangos
4114
leonel gonalves rgo
4115
alois reinhard
4116
maurice requill
4117
n. retsinopoulos
4118
charles harry rew
4119
william c. "colonel" rice
4120
maurice r. rieder
4121
rezs riheczky
4122
d. ringas
4123
vladeta risti
4124
walter "walt" robertson
4125
paul a. robineau
4126
louis roche
4127
yury rogozov
4128
marcel roman
4129
carlos roque
4130
e. rossi
4131
enrico ruberti
4132
vincenzo rubolotta
4133
alberto ruggia
4134
giuseppe russo
4135
joseph a. "joe" ryan
4136
mile sadzawska
4137
menelaos sakorafos
4138
carlos t. sambuceti
4139
toshi sano
4140
panagiotis saousopoulos
4141
angelo sartini
4142
hachiro sato
4143
saurel
4144
pierre sauvestre
4145
josef schejbal
4146
max w. schmid
4147
josef schneider
4148
hippolyte schouppe
4149
fredy schultheiss
4150
carlos semino
4151
pietro sessa
4152
aleksandr sheff
4153
viktor shevchenko
4154
umetaro shibata
4155
eugen sigg (-bchthold)
4156
jzsef sim
4157
josef irc
4158
vladimr irc
4159
bogdan sirotanovi
4160
romeo sisti
4161
ren smet
4162
mikhail sokos
4163
tsukasa sonobe
4164
demetrios souranis
4165
aristidis spalieris
4166
franz starkl
4167
paul staub
4168
anastasios stavrianos
4169
alfred stefani
4170
xenofon stellas
4171
nikolaos stergiou
4172
dominik tillip
4173
vittore stocchi
4174
sadahiro sunaga
4175
lionel david "leonel" sutton
4176
daikichi suzuki
4177
oleg gennadyevich sveshnikov
4178
jzef franciszek szawara
4179
istvn szendeffy
4180
rokuro takahashi
4181
isamu takashima
4182
yasuhiko takeda
4183
robin w. r. tamplin
4184
giovanni battista tanio
4185
r. taormina
4186
g. tarantino
4187
albert "al" taylor
4188
david daniel b. "danny" taylor
4189
livio tesconi
4190
franois thonin
4191
p. toio
4192
henrique tomassini
4193
carlo toniatti
4194
antnio gonalves torres
4195
enrique torres larrauri
4196
armando trabucco
4197
yevgeny tretnikov
4198
georgios tsakonas
4199
ioannis tsirakis
4200
khristos tsirigotakis
4201
makoto tsushida
4202
franz trler
4203
adriano tuzi
4204
elios tzannidis
4205
pavlos tzannos
4206
pavlos tzetzos
4207
emmilios vafeas
4208
nikolaos valsamakis
4209
alfred van landeghem
4210
j. van malderen
4211
jean van silfhout
4212
charles van son
4213
ji vank
4214
jen vrady
4215
n. vasiliadis
4216
alcides short veira
4217
khristos velegris
4218
petros velliotis
4219
georgios venieris
4220
ioannis venieris
4221
franois vergucht
4222
spyridon "spyros" vessalas
4223
pier luigi vestrini
4224
renzo vestrini
4225
nikolaos vianginis
4226
jean-jacques vignon
4227
jacques vilcoq
4228
georgios vogiatzakos
4229
otto vonlaufen
4230
otakar votk
4231
joseph vuillard
4232
theodore "theo" wambeke
4233
yasukuni watanabe
4234
john wilfred "jack" webster
4235
john wells
4236
harold e. west
4237
lawrence kingsley "laurie" west
4238
lajos wick
4239
ji wihan
4240
mikls zgon
4241
leonid zakharov
4242
nikolaos zamanos
4243
prcio zancani
4244
g. zannino
4245
zdenk ra
4246
gustav philip zinke
4247
oscar zolezzi
4248
bla zoltn
4249
ren ansermoz
4250
michel baur
4251
andr antoine "anthony" berg
4252
walter birch
4253
wilhelm blechschmidt
4254
adolfo bocchi
4255
luigi cerutti
4256
emil coppetti
4257
stphane de la rochefoucault
4258
juan de landa
4259
paul auguste joseph dedein
4260
g. daz
4261
j. daz
4262
hans conrad eisenhut
4263
francis gerald alois faigle
4264
john gee
4265
david griffith
4266
anton guldener
4267
walter heinzl
4268
paolo herbert
4269
hans he
4270
henry c. hhnes
4271
ferdinand hubert
4272
georg werner f. huth
4273
horacio a. iglesias
4274
rafael e. iglesias
4275
jacques jany
4276
charles jenny
4277
louis koch
4278
hubert kryn
4279
ferdinand langer
4280
robert langlois
4281
edmond laroche
4282
mile legrand
4283
fernand legrand
4284
gustav leubner
4285
christopher paul "chris" lori
4286
piero marchetti
4287
paul martin
4288
andr f. moillen
4289
jean moillen
4290
giancarlo morpugo
4291
ren mortiaux
4292
lodovico obexer
4293
jacques petit-didier
4294
roger petit-didier
4295
bedich poselt
4296
karl max reinhardt
4297
jacques n. rheins
4298
louis c. rooy
4299
john schneiter
4300
marcel j. sedille-courbon
4301
carlo sem
4302
ivan ipajlo
4303
alfredo spasciani
4304
giuseppe steiner
4305
luigi tornielli di borgolavezzaro
4306
alberto visconti
4307
paul volkhardt
4308
thomas s. warner
4309
hugo weinstengel
4310
gaston achille
4311
charles acke
4312
johannes "johann" adam
4313
elie adda
4314
albino manuel agero
4315
antonio ahumada ruiz
4316
ahmed abdulrahman al-arbeed
4317
nassar ali al-dosari
4318
ahmed al-doseri
4319
nahedh al-murdh
4320
khaled fahd al-rasheed
4321
rashid fahd al-rasheed
4322
edoardo alaimo
4323
gordon reuben alexander
4324
eduardo h. alonso
4325
georgios ambet
4326
jamal hussayn ameen
4327
andreac
4328
emmanuel andrieu
4329
mikhail anerrapsis
4330
s. antonidas
4331
jen apthy
4332
valentino vittorio argento
4333
boris nikolayevich arsenyev
4334
rza arseven
4335
jean-gabriel asfar
4336
ass
4337
aufort
4338
richard a. badman
4339
vural balcan
4340
nihat balkan
4341
jorge balza
4342
mile edmond gustave barbier
4343
bazin
4344
g. bllot
4345
hctor belo herrera
4346
boris ivanovich belyakov
4347
konstantinos bembis
4348
giovanni benfratello
4349
rudolf berger
4350
charles bersin
4351
gavriil bertrain
4352
miroslav beznoska
4353
raoul bzy-bideau
4354
raoul bideau
4355
gabriel blando
4356
francisco c. bollini
4357
aldo boni
4358
suzanne bonnard
4359
bormel
4360
marcelle bory
4361
mile bouard
4362
marcel boulanger
4363
jean a. boulge
4364
josiah frederick dollin bowden
4365
j. brassard
4366
brau
4367
rudolf brosch
4368
richard brnner
4369
raymond neville "ray" buckingham
4370
maude margaret "peggy" butler
4371
harry robert butterworth
4372
giulio cagiati
4373
albert simon cahen
4374
calvet
4375
camier
4376
juan roberto camous
4377
cannesson
4378
gheorghe caranfil
4379
dante carniel
4380
horacio casco parejas
4381
abelardo castro ramrez
4382
cr
4383
jan ernohorsk
4384
manuel pereira chagas
4385
anthony p. chalke
4386
jarmila chalupov
4387
louis mile chapuis
4388
mohamed mustafa charaoui
4389
georges marie clappier
4390
raoul clry
4391
constant robert cloquet
4392
renzo compagna
4393
georges joseph conraux
4394
yvonne conte
4395
henri jules coquelin
4396
fernando correia
4397
costiesco
4398
louis gaston coudurier
4399
thomas george "tom" cross
4400
luigi cuomo
4401
georges dambois
4402
dambremat
4403
marie-louis damotte
4404
gladys daniell
4405
cyrus leaf daniell
4406
henry d. davids
4407
geraldo "gil" de andrade
4408
jean alexandre de bardel
4409
franois de boffa
4410
de cazeneuve
4411
de la chevalerie
4412
henri de laborde
4413
de lagardire
4414
de lastic
4415
de meuse
4416
de pradines
4417
a. de romigny
4418
de saint-aignan
4419
de segonzac
4420
de tournable
4421
louis de tribolet
4422
de vars
4423
debrinay
4424
henri jean dbut
4425
delprat
4426
eugne des logis berges
4427
desprs
4428
f. desprs
4429
hilda deswarte
4430
ugo di nola
4431
dino diana
4432
dizier
4433
harry dombeeck
4434
jean dreyfus
4435
david d. drury
4436
andr du bosch
4437
duclot
4438
ducreuil
4439
mile r. dufranc
4440
constant dulau
4441
frantiek duek
4442
gaston jean dutertre
4443
frantiek dvok
4444
mrton endrdi
4445
partick james "pat" farrell
4446
giunio fedreghini
4447
spyridon ferentinos
4448
fernands
4449
ferrand
4450
santos a. ferreira
4451
fichot
4452
pavel filatov
4453
theodor fischer
4454
flahaut
4455
maurice fleury
4456
joseph fontaine
4457
konstantinos fotiadis
4458
douard pascal fouchier
4459
theodoros foustanos
4460
stan franois
4461
robert frater
4462
uro frojnd (freund)
4463
franjo frelih (frhlich)
4464
nlida fullone
4465
marie-joseph gabriel
4466
carlo gandini
4467
santiago garca canudas
4468
gardis
4469
louis garnoty
4470
jorge garretn prieto
4471
albert gauthier
4472
louis gauthier
4473
daniel "dan" gheorghiu
4474
giuseppe giurato
4475
julio a. gonzlez boada
4476
nikolay goredetsky
4477
e. grad
4478
arthur dillon griez von ronse
4479
leonid vladimirovich grinyov
4480
grossard
4481
charles gurin
4482
alexandre guillemand
4483
fernando guilln iglesias
4484
pavel guvorsky
4485
majed abdul rahim habib ullah
4486
vera hagemann
4487
elizabeth "betty" hamilton
4488
william hammond
4489
antal hmos
4490
hassan hamze
4491
martin g. harden
4492
laurence neville harding-smith
4493
harstein
4494
hbrant
4495
hrisson
4496
luis hernndez
4497
hugo higueras ureta
4498
jean-andr hilleret
4499
hug hoch
4500
lajos horvth
4501
ernst huber
4502
georgios iatridis
4503
carlos iturri quevedo
4504
yury ivanov
4505
ivan ivanovitch
4506
raymundo izcoa
4507
henri jacquet
4508
jactel
4509
jack evan james
4510
maximilien gustave berthold marie "max" janlet
4511
maurice joseph jay
4512
luis jimnez pea
4513
jolliet
4514
lois margaret joseph (-green)
4515
ayman jumean
4516
gaston kaanen
4517
gusztv (gyula) klniczky
4518
panagiotis a. kambas
4519
tilemakhos karakalos
4520
ioannis karamazakis
4521
alfred valentine keene
4522
jacques kesteloot
4523
vladimir keyser
4524
alexandros kharalambopoulos
4525
nikolaos khristogiannopoulos
4526
milo klika
4527
anita klpfel
4528
konstantinos komninos-miliotis
4529
triantafyllos kordogiannis
4530
aristidis kritikos
4531
va kun
4532
nikolay kuznetsov
4533
ludovic laborderie
4534
a. lafontaine
4535
jean lafoucrire
4536
jean-baptiste lafourade-cortina
4537
jules large
4538
larivire
4539
ren lateux
4540
launay
4541
pierre le blon
4542
philippe le hardy de beaulieu
4543
georges lefvre
4544
adjutant lemoine
4545
feliks zenovich leparsky
4546
paul leroy
4547
georges lvcque
4548
marcel lvy
4549
lzard
4550
elena libera
4551
jos llauro
4552
alfonso mario lpez
4553
fidel lua herrera
4554
luquetas
4555
jules germain marie maes
4556
olive mahaut
4557
lylian malherbaud-lecomte-guyonneau
4558
firidun malkom khan
4559
ramro maalich
4560
nikolaos manolesos
4561
joseph cyrille marais
4562
robert marc
4563
martini
4564
leonid martuchev
4565
mass
4566
graham philip mckenzie
4567
walther meienreis
4568
domingo r. mendy
4569
pedro h. mendy
4570
pedro mercado
4571
joseph-auguste mtais
4572
yulian aleksandrovich michaux
4573
jean michel
4574
louis midelair
4575
antonn mikala
4576
bla mikla
4577
jean mikorski
4578
miller
4579
lucien millet
4580
osvaldo miranda garbancho
4581
joseph misrahi
4582
cyril mohr
4583
ernst moldenhauer
4584
lopold l. montagnier
4585
marcel montuel
4586
alphonse moquet
4587
louis moreau
4588
moreil
4589
jeanne morgenthaler (-mende)
4590
achille morin
4591
mosso
4592
saul moyal
4593
muller
4594
arthur c. murray
4595
bla nagy
4596
athanasios nanopoulos
4597
boris gavrilovich nepokupnoy
4598
hassan niazi
4599
konstantinos "kostas" nikolopoulos
4600
oscar novoa fuentes
4601
muhuttin okyavuz
4602
ludk oppl
4603
paul antoine oziol de pignol
4604
pl pajzs
4605
palardi
4606
aristidis papadakis
4607
nikolaos paparrodou
4608
charles pape
4609
jacques parent
4610
passerat
4611
pboray
4612
pierre pcher
4613
plabon
4614
rzvan penescu
4615
raphal perrissoud
4616
karl august petri
4617
josef pfeiffer
4618
hugo philipp
4619
periklis pierrakos-mavromikhalis
4620
pitory
4621
francesco pietrasanta
4622
aroldo n. s. luigi pinelli
4623
piot
4624
appolinariya mykolavna plekhanova
4625
eugne plisson
4626
arturo ponce costa
4627
aristide pontenani
4628
ioannis poulos
4629
preurot
4630
prosper
4631
lucienne prost
4632
menelaos psarrakis
4633
leonidas "leon" pyrgos
4634
manuel queirz
4635
robert quennessen
4636
mihai raicu
4637
ioannis raisis
4638
ren raynaud
4639
georges redeuil
4640
nicols reyero manrique
4641
paul robert
4642
charles h. rochat
4643
joseph rodrigues
4644
max rodrigues
4645
jules roffe
4646
roquais
4647
joseph-marie ros
4648
pierre rosenbaum
4649
pl rosty
4650
gyrgy rozgonyi
4651
ion rudeanu
4652
giulio rusconi
4653
francis sabourin
4654
salvanahac
4655
pierre samiac
4656
jess snchez hernndez
4657
orazio egidio santelli
4658
emeric stephen santo
4659
andr sarens
4660
pietro sarzano
4661
mihai savu
4662
bedich schejbal
4663
conrad schlaepfer
4664
alfons schne
4665
heinrich schrader
4666
friedrich schwarz
4667
emilie schwindt
4668
jean servent
4669
hassan mauris shamil
4670
aleksandr shkylev
4671
alexis simonson
4672
andreas skotidas
4673
evangelos skotidas
4674
svatopluk skva
4675
arthur r. smith
4676
tom p. smith
4677
alois sokol
4678
ral sola
4679
aleksandr vasilyevich soldatenkov
4680
stagliano
4681
edward c. startin
4682
jaroslav star
4683
roderick murdoch "rod" steele
4684
roger stirn
4685
joseph stordeur
4686
franois stuyck
4687
siha sukarno
4688
surzer
4689
maurice michel taillandier
4690
konstantinos tamvakos
4691
fernande tassy
4692
sabri tezcan
4693
fernand thibaud
4694
lon thibaut
4695
lon thircelin
4696
adolphe thomegeux
4697
pierre thomegeux
4698
nicholas "nick" thuillier
4699
andr tintant
4700
mikls todoresku
4701
nejat tolgar
4702
santiago torres blanco
4703
samuel george fitzhugh townsend
4704
tryfon triantafyllakos
4705
owen tuohy
4706
roland turian
4707
vilm tvrzsk
4708
georgios valakakis
4709
h. valarche
4710
maurice e. van damme
4711
van der stoppen
4712
joseph van der voodt
4713
marcel van langenhove
4714
antoine van tomme
4715
konstantin konstantinovich vaterkampf
4716
georgios versis
4717
vve
4718
oscar vias
4719
gyula von ivnyi
4720
athanasios vouros
4721
alice barringer walker
4722
wattelier
4723
weber
4724
f. weill
4725
jean weill
4726
charles a. wilson
4727
wineuwanheim
4728
alfredo yanguas
4729
nami yayak
4730
henri yvon
4731
pyotr antonovich zakovorot
4732
georgy zakyrich
4733
khristos zalokostas
4734
anatoly zhakovlev
4735
stefanos zintzos
4736
khristos zorbas
4737
nstor francisco alvarado saravia
4738
yury vasilyevich andreyev
4739
ral a. antoli
4740
archenoul
4741
ziya azak
4742
joo cruz azevedo
4743
alfred louis badu
4744
joo eduardo gamarro correia barrento
4745
armando barriguete
4746
kevin barry
4747
marcel blanchard
4748
bedri bke
4749
alain pierre marie bouchet
4750
antoine boudet
4751
jean-albert brasu
4752
oldich buchar
4753
marcos "marc" bchler
4754
gavriil budyonny
4755
cabanac
4756
selim akir
4757
georges jean andr calmon
4758
eduardo w. cano
4759
cauchy
4760
eugenio cerboneschi
4761
bertrand chanu
4762
cordon
4763
gustave jacques couderc de fonlongue
4764
paul covert
4765
jacques d'arlincourt
4766
de coulombier
4767
de lamaratine
4768

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

george john buckley
6347
francis romulus burchell
6348
frederick william christian
6349
harry richard corner
6350
frederick william cuming
6351
william stephens donne
6352
timothe jordan
6353
arthur macevoy
6354
alfred james powlesland
6355
douglas francis robinson
6356
alfred john schneidau
6357
john symes
6358
henry john terry, jr.
6359
montagu henry toller
6360
philip humphreys tomalin
6361
alfred aufdenblatten
6362
georges camille berthet
6363
josef bm
6364
vin elias bremer
6365
karel buchta
6366
stanisaw chrobak
6367
aku "august" eskelinen
6368
heikki hirvonen
6369
bohuslav josfek
6370
alfons julen
6371
anton julen
6372
stanisaw kdzioka
6373
gabriel maurice mandrillon
6374
herman vilhelm "ville" mattila
6375
adrien louis albert vandelle
6376
denis louis vaucher
6377
szczepan wiktor witkowski
6378
zbigniew czesaw woycicki
6379
gaston achille louis aumoitte
6380
jeanne marie henriette filleaul-brohy (hantjens-)
6381
marcel hantjens
6382

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

georges douard johin
6383
marie pierrette sophie pauline ohier
6384
marie maurice jacques alfred sautereau
6385
maurice marie joseph vignerot
6386
chrtien andr waydelich
6387
charles brown
6388
charles jacobus
6389
smith o. streeter
6390
charles granville bruce
6391
john geoffrey bruce
6392
colin grant crawford
6393
gnter oskar dyhrenfurth
6394
harriet pauline "hettie" dyhrenfurth (heyman-)
6395
george ingle finch
6396
tom george longstaff
6397
george herbert leigh mallory
6398
henry treise morshead
6399
john baptist lucius noel
6400
edward felix norton
6401
franz xaver schmid
6402
anton "toni" schmid
6403
theodore howard somervell
6404
edward lisle "bill" strutt
6405
arthur william wakefield
6406
jos de amzola y aspiza
6407
francisco villota y baquiola
6408
hermann schreiber
6409
terence de la mesa "terry" allen
6410
heinrich amsinck
6411
manuel ngel andrada
6412
frederick whitfield barrett
6413
klmn bartalis
6414
andreas ernst gustav walter bartram
6415
john graham hope de la poer beresford
6416
istvn bethlen, jr.
6417

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

john denis yelverton bingham
6418
elmer julius boeseke, jr.
6419
walter selby buckmaster
6420
roberto diego lorenzo cavanagh y hearne
6421
denis st. george daly
6422
david dawnay
6423
armand franois jules marie de la rochefoucauld-doudeauville
6424
lvaro de figueroa y alonso-martnez
6425
jos mara de figueroa y alonso-martnez
6426
luis de figueroa y alonso-martnez
6427
pierre antoine clment marie de chapelle de jumilhac
6428
jean pierre marie joseph  de madre de loos
6429
hubert georges douard conqur de monbrison
6430
charles marie csar ludovic de polignac
6431
douard alphonse de rothschild
6432
tivadar dienes-hm
6433
luis jorge duggan ham
6434
jos eustaquio luis francisco escandn y barrn
6435
jos manuel mara del corazn de jess escandn y barrn
6436
jos pablo eustaquio manuel francisco escandn y barrn
6437
william auguste fauquet-lematre
6438
rafael fernndez de henostrosa y salabert
6439
hernando carlos mara teresa fitz-james stuart y falc portocarrero y osorio
6440
jacobo mara del pilar carlos manuel fitz-james stuart y falc portocarrero y osorio
6441
mortimer henri robert fournier-sarlovze
6442
bryan john fowler
6443
frederick charles maitland "freddie" freake
6444
andrs gazzotti
6445
frederick agnew gill
6446
juan gracia zazueta
6447
alfred felix grisar
6448
frederick edward "freddie" guest
6449
humphrey patrick guinness
6450
william robert norris hinde
6451
thomas "tommy" hitchcock, jr.
6452
walter john henry jones
6453
foxhall parker keene
6454
arturo juan kenny y gahan
6455
heinrich arthur kser, jr.
6456
dezs kovcs
6457
john hardress lloyd
6458
vivian noverre lockett
6459
maurice florentin alphons marie lysen
6460
frank jay mackey
6461
nelson emery margetts
6462
walter adolph mccreery
6463
teignmouth philip "tim" melvill
6464
juan bautista miles passo
6465
charles darley miller
6466
george arthur miller
6467
john carter "jack" montgomery
6468
julio mller lujn
6469
antonio nava castillo
6470
william brookes "guillermo" naylor
6471
juan diego "jack" nelson y duggan
6472
patteson womersley nickalls
6473
percy philip o'reilly
6474
enrique padilla
6475
jean andr hubert pastr
6476
alberto ramos sesma
6477
maurice auguste raoul-duval
6478
alfred "toby" rawlinson
6479
robert miles sloman reincke
6480
fred roe, sr.
6481
auston morgan rotheram
6482
leopoldo sanz de la maza gutirrez-solana y gmez de la puente
6483
imre szentply
6484
rodman lewis "rod" wanamaker
6485
herbert haydon wilson
6486
percival kinnear wise
6487
john "jack" wodehouse
6488
john jacob astor
6489
henry brougham
6490
cecil le cronier browning
6491
edmond william bury
6492
evan baillie noel
6493
vane hungerford pennell
6494
edwin anthony biedermann (-best)
6495
william marshall cazalet
6496
jay gould, ii
6497
neville stephen bulwer-lytton
6498
eustace hamilton miles
6499
arthur page
6500
arnold nottage palmer
6501
charles edward sands
6502
charles edmund tatham
6503

Drop the nan_df raws from main Dataframe

In [26]:
indexs = nan_df.index.tolist()
df = df.drop(indexs)
df

,Age,City,Event,Games,Height,ID,Medal,NOC,Name,Season,Sex,Sport,Team,Weight,Year
0,24.0,barcelona,basketball men's basketball,1992 summer,180.0,1.0,NaN,chn,a dijiang,summer,m,basketball,china,80.0,1992.0
167,19.0,beijing,basketball women's basketball,2008 summer,185.0,69.0,NaN,esp,tamara abalde daz,summer,f,basketball,spain,72.0,2008.0
250,31.0,helsinki,basketball men's basketball,1952 summer,191.0,124.0,NaN,egy,youssef mohamed abbas,summer,m,basketball,egypt,85.0,1952.0
264,29.0,sydney,basketball men's basketball,2000 summer,195.0,136.0,NaN,ita,alessandro abbio,summer,m,basketball,italy,85.0,2000.0
346,25.0,munich,basketball men's basketball,1972 summer,189.0,192.0,NaN,egy,ahmed el-sayed abdel hamid mobarak,summer,m,basketball,egypt,85.0,1972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239604,26.0,london,motorboating mixed b-class (under 60 feet),1908 summer,181.0,120083.0,gold,gbr,isaac thomas thornycroft,summer,m,motorboating,gyrinus-1,77.0,1908.0
239605,26.0,london,motorboating mixed c-class,1908 summer,181.0,120083.0,gold,gbr,isaac thomas thornycroft,summer,m,motorboating,gyrinus-1,77.0,1908.0
239707,46.0,london,motorboating mixed a-class (open),1908 summer,181.0,120129.0,gold,fra,"ernest blakelock ""mile"" thubron",summer,m,motorboating,camille,77.0,1908.0
259371,29.0,london,motorboating mixed a-class (open),1908 summer,181.0,129853.0,NaN,gbr,hugh richard arthur grosvenor,summer,m,motorboating,wolseley-siddeley-1,77.0,1908.0
263253,31.0,london,motorboating mixed c-class,1908 summer,181.0,131731.0,NaN,gbr,joseph warwick wright,summer,m,motorboating,sea dog-2,77.0,1908.0

Create the cleaned_df that represents the clean version of data frame

In [62]:
cleaned_df =pd.concat([df, new_df], axis=0)
cleaned_df.drop_duplicates(inplace=True)

In [63]:
cleaned_df

,Age,City,Event,Games,Height,ID,Medal,NOC,Name,Season,Sex,Sport,Team,Weight,Year
0,24.0,barcelona,basketball men's basketball,1992 summer,180.0,1.0,NaN,chn,a dijiang,summer,m,basketball,china,80.0,1992.0
167,19.0,beijing,basketball women's basketball,2008 summer,185.0,69.0,NaN,esp,tamara abalde daz,summer,f,basketball,spain,72.0,2008.0
250,31.0,helsinki,basketball men's basketball,1952 summer,191.0,124.0,NaN,egy,youssef mohamed abbas,summer,m,basketball,egypt,85.0,1952.0
264,29.0,sydney,basketball men's basketball,2000 summer,195.0,136.0,NaN,ita,alessandro abbio,summer,m,basketball,italy,85.0,2000.0
346,25.0,munich,basketball men's basketball,1972 summer,189.0,192.0,NaN,egy,ahmed el-sayed abdel hamid mobarak,summer,m,basketball,egypt,85.0,1972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9761,39.0,london,jeu de paume men's singles,1908 summer,178.0,79794.0,silver,gbr,eustace hamilton miles,summer,m,jeu de paume,great britain,74.0,1908.0
9762,32.0,london,jeu de paume men's singles,1908 summer,178.0,90545.0,NaN,gbr,arthur page,summer,m,jeu de paume,great britain,74.0,1908.0
9763,21.0,london,jeu de paume men's singles,1908 summer,178.0,90836.0,NaN,gbr,arnold nottage palmer,summer,m,jeu de paume,great britain,74.0,1908.0
9764,42.0,london,jeu de paume men's singles,1908 summer,181.0,105390.0,NaN,usa,charles edward sands,summer,m,jeu de paume,united states,74.0,1908.0
9765,43.0,london,jeu de paume men's singles,1908 summer,178.0,118745.0,NaN,gbr,charles edmund tatham,summer,m,jeu de paume,great britain,74.0,1908.0

Reindexing cleaned_df

In [64]:
cleaned_df = cleaned_df.reset_index()
cleaned_df = cleaned_df.drop(columns=["index"])
cleaned_df

,Age,City,Event,Games,Height,ID,Medal,NOC,Name,Season,Sex,Sport,Team,Weight,Year
0,24.0,barcelona,basketball men's basketball,1992 summer,180.0,1.0,NaN,chn,a dijiang,summer,m,basketball,china,80.0,1992.0
1,19.0,beijing,basketball women's basketball,2008 summer,185.0,69.0,NaN,esp,tamara abalde daz,summer,f,basketball,spain,72.0,2008.0
2,31.0,helsinki,basketball men's basketball,1952 summer,191.0,124.0,NaN,egy,youssef mohamed abbas,summer,m,basketball,egypt,85.0,1952.0
3,29.0,sydney,basketball men's basketball,2000 summer,195.0,136.0,NaN,ita,alessandro abbio,summer,m,basketball,italy,85.0,2000.0
4,25.0,munich,basketball men's basketball,1972 summer,189.0,192.0,NaN,egy,ahmed el-sayed abdel hamid mobarak,summer,m,basketball,egypt,85.0,1972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263241,39.0,london,jeu de paume men's singles,1908 summer,178.0,79794.0,silver,gbr,eustace hamilton miles,summer,m,jeu de paume,great britain,74.0,1908.0
263242,32.0,london,jeu de paume men's singles,1908 summer,178.0,90545.0,NaN,gbr,arthur page,summer,m,jeu de paume,great britain,74.0,1908.0
263243,21.0,london,jeu de paume men's singles,1908 summer,178.0,90836.0,NaN,gbr,arnold nottage palmer,summer,m,jeu de paume,great britain,74.0,1908.0
263244,42.0,london,jeu de paume men's singles,1908 summer,181.0,105390.0,NaN,usa,charles edward sands,summer,m,jeu de paume,united states,74.0,1908.0
263245,43.0,london,jeu de paume men's singles,1908 summer,178.0,118745.0,NaN,gbr,charles edmund tatham,summer,m,jeu de paume,great britain,74.0,1908.0

In [76]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263246 entries, 0 to 263245
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     263246 non-null  float64
 1   City    263246 non-null  object
 2   Event   263246 non-null  object
 3   Games   263246 non-null  object
 4   Height  263246 non-null  float64
 5   ID      263246 non-null  float64
 6   Medal   38731 non-null   object
 7   NOC     263246 non-null  object
 8   Name    263246 non-null  object
 9   Season  263246 non-null  object
 10  Sex     263246 non-null  object
 11  Sport   263246 non-null  object
 12  Team    263246 non-null  object
 13  Weight  263246 non-null  float64
 14  Year    263246 non-null  float64
dtypes: float64(5), object(10)
memory usage: 30.1+ MB

In [67]:
cleaned_df.describe()

                 Age         Height             ID         Weight         Year
count  263246.000000  263246.000000  263246.000000  263246.000000  263246.0000
mean       25.315731     175.072841   68248.354076      70.119236    1978.5681
std         5.879985       9.525086   39033.233081      12.177562      29.7128
min        10.000000     137.000000       1.000000      31.000000    1896.0000
25%        21.000000     169.000000   34630.000000      62.000000    1960.0000
50%        24.000000     175.000000   68209.000000      70.000000    1988.0000
75%        28.000000     181.000000  102091.000000      77.000000    2002.0000
max        77.000000     220.000000  135571.000000     135.000000    2016.0000

We note that we drop just 3% from the data, which is acceptable.

Save it as CSV file

In [75]:
cleaned_df.to_csv('filterd_athlete_events.csv')